bin/Debug/net8.0/ConsoleApp1.dll
bin/Debug/net8.0/ConsoleApp1.dll
bin/Debug/net8.0/ConsoleApp1.exe
bin/Debug/net8.0/ConsoleApp1.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
obj/Debug/net8.0/ConsoleApp1.dll
obj/Debug/net8.0/ConsoleApp1.pdb
obj/Debug/net8.0/ConsoleApp1.sourcelink.json
obj/Debug/net8.0/ref/ConsoleApp1.dll
obj/Debug/net8.0/refint/ConsoleApp1.dll
bin/Debug/net8.0/ConsoleApp1.dll
bin/Debug/net8.0/ConsoleApp1.exe
